body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background-pic img{
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: auto;
}

.headingText {
    font-size: 40px;
    font-weight: 700;
    line-height: 20px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
    
  }

